In [31]:
# Import Libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
import csv
csv.reader
FAOSTAT_data_1-12-22

NameError: name 'FAOSTAT_data_1' is not defined

In [34]:
df= pd.read_csv(r 'C:\Users\Kamran\Downloads\Baba Aamar python\population.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_9280/3729531740.py, line 1)

In [1]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.describe()

,Area Code (FAO),Element Code,Item Code,Year Code,Year,Value
count,345.0,345.000000,345.0,345.00000,345.00000,345.000000
mean,165.0,529.600000,3010.0,1984.00000,1984.00000,60853.529467
std,0.0,21.827069,0.0,19.94542,19.94542,41244.103631
min,165.0,511.000000,3010.0,1950.00000,1950.00000,6577.754000
25%,165.0,512.000000,3010.0,1967.00000,1967.00000,31161.301000
50%,165.0,513.000000,3010.0,1984.00000,1984.00000,50453.106000
75%,165.0,551.000000,3010.0,2001.00000,2001.00000,81944.046000
max,165.0,561.000000,3010.0,2018.00000,2018.00000,212228.286000

In [ ]:
df

NameError: name 'df' is not defined